.game-title {
  font-size: 3rem;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}

.board-div {
  width: 40%;
  text-align: center;
}

.main-section {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

table {
  height: 400px;
  width: 100%;
}

.player-name {
  font-size: 2rem;
  text-transform: capitalize;
}

table, th, td {
  border: 1px solid black;
}

.message-board {
  width: 30%;
  height: 75px;
  margin: 30px auto;
  padding: 5px;
  border: 1px black solid;
  text-align: center;
  font-size: 2rem;
  color: red;
}

.hit-cell {
  background: red;
}

.missed-cell {
  background: yellow;
}

.ships {
  border: solid 5px blue;
}
