.main-section {
  display: flex;
  justify-content: space-between;
}

table {
  height: 400px;
  width: 40%;
}

table, th, td {
  border: 1px solid black;
}

.hit-cell {
  background: red;
}

.missed-cell {
  background: yellow;
}

.ships {
  border: solid 5px blue;
}
